.build-bottom {
  background-color: grey;
  background-image: url(../img/build-buttom.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;

  &__field {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 345px;
    display: flex;
    justify-content: end;
  }

  // .build-bottom__field-form

  &__field-form {
background: $color-light;
max-width: 495px;
display: flex;
flex-direction: column;
padding: 48px 35px;
  }
}
.container {

  // .container_

  &_ {
  }
}
.build-form {

  // .build-form__field

  &__field {
    display:grid;
    grid-template-columns: 1, 1fr;
    row-gap: 20px;
  }

}
.field-form {

  // .field-form__title

  &__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: $color-ebony;
    margin: 0;
    margin-bottom: 24px;
  }
}
.input100{
  width: 100%;
  padding-left: 0px;
}
.checkbox__item{
  display: flex;
  flex-direction: row-reverse;
  .comp-form{
    margin-right: 12px;
  }
}