.information {

  // .information__photo

  &__photo {
    width: 575px;
    height: 420px;
  }

  // .information__discription

  &__discription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn-border-primary {
      border: 1px solid #FF5A30;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    }
  }

  // .information__discription-title

  &__discription-title {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 150%;
color: #1E212C;
  }

  // .information__discription-text

  &__discription-text {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
color: #787A80;
  }

}
.container {
}
.information-block {

  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap:120px 80px ;
  padding: 120px 0 120px 0 ;
}

